main{
  background-color: #ececec; /* Fondo claro para el contenedor */
  padding: 20px;
  font-size: 25px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}